<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brand_createmenu_showbrand_listing_data_source" xsi:type="string">Ced\Brand\Model\ResourceModel\Brandpost\Collection</item>
            </argument>
        </arguments>
    </type>
     
    <virtualType name="Ced\Brand\Model\ResourceModel\Brandpost\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brand_table</argument>
            <argument name="resourceModel" xsi:type="string">Ced\Brand\Model\ResourceModel\Brandpost</argument>
        </arguments>
    </virtualType>
</config>
